<br>
<% if @item_users.size > 0 %>

  <h2>Biding done by you</h2>
  <br>

  <table>
    <tr>
      <th class="change"></th>
      <th class="change">Name</th>
      <th class="change">Base Price</th>
      <th class="change">Bid Price</th>
      <th class="change">Deadline</th>
      <th class="change">Edit</th>
      <th class="change">Delete</th>
    </tr>

  <% @item_users.each do |item_user| %>
    <% item = Item.find(item_user.item_id) %>
    <tr>
      <td class="change"><%= image_tag item.image.url(:thumb) %></td>
      <td class="change"><%= link_to item.name, item %></td>
      <td class="change">Rs. <%= item.base_price %></td>
      <td class="change">Rs. <%= item_user.bid_price %></td>
      <% if item.status == false %>
        <td class="change"><%= distance_of_time_in_words_to_now(item.deadline - 5.hours - 30.minutes, true) %></td>
        <td class="change"><%= link_to (image_tag 'edit.png'), edit_bid_path(item_user) %></td>
      <% else %>
        <td class="change">Ended</td>
        <td></td>
      <% end %>
      <td class="change"><%= link_to (image_tag 'delete.png'), bid_path(item_user), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, :class => 'delete_item_user' %></td>
    </tr>
  <% end %>
  </table>

  <br><br><br>
  <%= will_paginate @item_users, :class => 'apple_pagination' %>
<% else %>
  <br>
  <h3>You have not bid on any item yet.</h3>
  <br><br>
<% end %>