<%= link_to ( image_tag 'backbutton.jpg' ), items_path, :class => 'back' %>
<div class="show">
  <p>
    <b>Name:</b>
    <%= @item.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @item.description %>
  </p>

  <p>
    <b>Image:</b><br>
    <%= image_tag @item.image.url(:small) %>
  </p>

  <p>
    <b>Base Price:</b>
    <%= @item.base_price %>
  </p>

  <p>
    <b>Deadline: </b>
    <% if @item.status == false %>
      <%= distance_of_time_in_words_to_now(@item.deadline - 5.hours - 30.minutes, true) %>
    <% else %>
      Ended
    <% end %>
  </p>

  <% if @item.max_bid_price != 0.00 %>
    <p>
      <b>Max Bid Price:</b>
      <%= @item.max_bid_price %>
    </p>

    <p>
      <% if @item_users.size == 1 %>
        <b>Bidder of this item:</b>
      <% else %>
        <b>Bidders of this item:</b>
      <% end %>
      <br>

      <table class="bidder">
        <tr>
          <th class="change">Name</th>
          <th class="change">Bid Price</th>
        </tr>

        <% @item_users.each do |item_user| %>
          <% user = User.find(item_user.user_id) %>
          <tr>
            <td class="change"><%= user.name %></td>
            <td class="change"><%= item_user.bid_price %></td>
          </tr>
        <% end %>
      </table>
    </p>

    <% if @item.status == true %>
      <% if @item.buyer_id != 0
          user = User.find(@item.buyer_id)
         else
          user = NIL
         end %>
      <% if user.nil? %>
        <h3>Item is not sold to anyone.</h3>
      <% else %>
        <p>
          <b>Sold to: </b>
          <%= link_to user.name, user %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <br>
    <h3>Item is not bidded by anyone.</h3>
  <% end %>
</div>
<br>
