<br>
<h2>Users</h2>
<br>

<table>
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Registered on</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= image_tag user.avatar.url(:thumb) %></td>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at.to_date %></td>
    <% if user.email == current_user.email %>
      <td><%= link_to (image_tag 'edit.png'), edit_user_registration_path(user) %></td>
    <% end %>
  </tr>
<% end %>
</table>