<br>
<% if @items.size > 0 %>

  <h2>Items posted by you</h2>
  <br>

  <table class="mysells">
    <tr>
      <th class="change"></th>
      <th class="change">Name</th>
      <th class="change">Description</th>
      <th class="change">Base Price</th>
      <th class="change">Deadline</th>
      <th class="change">Edit</th>
      <th class="change">Delete</th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td class="change"><%= image_tag item.image.url(:thumb) %></td>
      <td class="change"><%= link_to item.name, bid_path(item) %></td>
      <td class="change"><%= item.description %></td>
      <td class="change">Rs. <%= item.base_price %></td>
      <% if item.status == false %>
        <td class="change"><%= distance_of_time_in_words_to_now(item.deadline - 5.hours - 30.minutes, true) %></td>
        <td class="change"><%= link_to (image_tag 'edit.png'), edit_item_path(item) %></td>
      <% else %>
        <td class="change">Ended</td>
        <td></td>
      <% end %>
      <td class="change"><%= link_to (image_tag 'delete.png'), item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, :class => 'delete_item' %></td>
    </tr>
  <% end %>
  </table>

  <br><br><br>
  <%= will_paginate @items, :class => 'apple_pagination' %>
<% else %>
  <br>
  <h3>You have not posted any item yet.</h3>
  <br><br>
<% end %>