<nav>
  <ul>
    <% if user_signed_in? %>

      <li><%= link_to 'My Auctions', '', :class => 'btn' %>
        <ul class="submenu">
          <li><%= link_to 'My Bids', bids_path %></li>
          <li><%= link_to 'My Sells', items_path%></li>
        </ul> 
      </li>
      <li><%= link_to 'Sell', new_item_path, :class => 'btn' %></li></li>
      <li><%= link_to 'Welcome, ' + current_user.name, index_path, :class => 'btn1' %>
          <ul class="submenu">
            <li><%= link_to 'Edit account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></li>
          </ul>
      </li>
    <% end %>
  </ul>
</nav>